@font-face {
    font-family: 'ZH-Sans';
    src: url('https://static.zarahome.net/8/static4/itxwebstandard/fuentes/main/fonts/ZaraAPPSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZaraAPPSans-SemiBold';
    src: url('https://static.zarahome.net/8/static4/itxwebstandard/fuentes/main/fonts/ZaraAPPSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: transparent !important;
}

.text-group {
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'ZH-Sans';
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title,
    .subtitle,
    .text {
        width: 100%;
        text-align: center;
        line-height: 1;
    }
    .block-1 {
        .title {
            font-family: 'ZaraAPPSans-SemiBold';
            font-size: 4rem;
            margin: 0 10px;
        }
        .subtitle {
            font-size: 3rem;
        }
    }
    .block-2 {
        margin-top: 5rem;
        .text {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

body.portrait {
    & .text-group {
        .block-1 {
            .title {
                font-size: 8rem;
            }
            .subtitle {
                font-size: 6rem;
            }
        }
        .block-2 {
            margin-top: 3rem;
            .text {
                font-size: 4rem;
            }
        }
    }
}
