@font-face {
  font-family: 'Neue Helvetica for Zara', sans-serif;
  src: url("https://static.zarahome.net/8/static4/itxwebstandard/fuentes/main/external/helvetica_neue/NeueHelveticaforZara-Lt.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: transparent !important;
}

.text-group {
  width: 100%;
  height: 100%;
  color: #000;
  font-family: 'Neue Helvetica for Zara', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-group .title,
.text-group .subtitle {
  width: 100%;
  text-align: center;
}

.text-group .title {
  color: #FEFEB8;
  font-size: 15rem;
  margin: 0 10px;
}

.text-group .subtitle {
  font-size: 8rem;
}

body.portrait .text-group .title {
  font-size: 25rem;
}

body.portrait .text-group .subtitle {
  font-size: 12rem;
}
